@using WebApplication1.Models.Entity
@model List<yetenekler>



<div class="resume-section-content">
    <h2 class="mb-5">YETENEKLERİM</h2>
    <div class="subheading mb-3">PROGRAMALAMA DİLLERİ & ARAÇLAR</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
        <li class="list-inline-item"><i class="fab fa-php"></i></li>
        <li class="list-inline-item"><i class="fab fa-python"></i></li>
        <li class="list-inline-item"><i class="fab fa-java"></i></li>
        <li class="list-inline-item"><i class="fab fa-microsoft"></i></li>
        <li class="list-inline-item"><i class="fab fa-github"></i></li>
    </ul>
    <div class="subheading mb-3">BECERİLERİM</div>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
            <br />
            <li>
                <span class="fa-li"><i class="fas fa-check-double"></i></span>
                @x.yetenek
            </li>
        }
    </ul>
</div>

